@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}

:root {
  --bg-primary: #eeeff2;
}

body {
  background-color: var(--bg-primary);
}

.ellipse {
  position: absolute;
  width: 560px;
  height: 560px;
  left: -330px;
  top: -183px;
  background: linear-gradient(
    135.15deg,
    #ae80dc -1.33%,
    #dc83c3 29.38%,
    #8084dc 62.96%
  );
  mix-blend-mode: overlay;
  opacity: 0.7;
  filter: blur(139.13px);
  z-index: 1;
}
